/*
Author: Nick Chemsak 2017
Description: This is a Web Audio API app built by Nick Chemsak in 2017.
Version: 2.0
License: MIT License
Tags: Web Audio

TABLE OF CONTENTS:
1. General Definitions
    1.1 Fonts
    1.2 Colors
    1.3 Dimensions
2. Page Specific Definitions
    2.1 Navbar
    2.2 Sequencer / Body
    2.3 Footer
    2.4 Headings
        - h1, h2, h3
3. Media Queries
*/
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown.open > ul {
  width: 300px; }

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown.open > ul > li {
  padding: 3px 20px;
  color: red; }

a.dropdown-toggle {
  text-decoration: none;
  cursor: pointer; }

.navbar {
  background-color: black;
  border: none;
  border-radius: 0; }

#bs-example-navbar-collapse-1 > ul > li > a:hover {
  background-color: silver;
  color: black; }

#bs-example-navbar-collapse-1 > ul > li > a:visited {
  background-color: silver; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f2f2f2; }

.row {
  display: block; }

#sequencer {
  margin-left: 10px; }

.fx {
  width: 20px; }

svg {
  margin-right: 10px; }

input.form-control {
  background-color: transparent;
  display: inline-block;
  width: 100px; }

.addChannel {
  cursor: pointer; }

.checkbox input[type=checkbox] {
  cursor: pointer; }

.body-container {
  background: #f2f2f2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed !important; }

.body-subhead {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.7;
  padding: 10px; }

.list-item {
  background: #000;
  color: #575757;
  height: 1em;
  width: 1em;
  border: 1px solid #060606;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all .25s linear;
  cursor: pointer; }
  @media (min-width: 768px) {
    .list-item {
      height: 2.5em;
      width: 2.5em; } }
  @media (min-width: 992px) {
    .list-item {
      height: 3.5em;
      width: 3.5em; } }
  .list-item:hover {
    background: #6180c9;
    color: #fffcfb;
    transform: scale(1.5);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    z-index: 100; }

li.dropdown {
  list-style: none;
  display: inline; }

li {
  list-style: none; }

ul.dropdown-menu {
  box-shadow: none;
  border: 3px solid black;
  min-width: 200px;
  z-index: 1; }

.dropdown-menu > li > a:hover {
  background-color: silver; }

.dropdown-menu .divider {
  background-color: black; }

.dropdown-menu > li > a {
  cursor: pointer; }

h1 {
  font-family: Inconsolata;
  font-size: 36px; }

h2 {
  font-family: "PT Mono", monospace;
  font-size: 22px; }

h3 {
  font-family: "Bubbler One", monospace;
  font-size: 22px; }

.modal-backdrop {
  z-index: -1; }

.content-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: 50%;
  background-color: silver;
  border-top: 5px solid black; }

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em; }

.content {
  height: 500px; }

a:hover {
  text-decoration: none; }

.record-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 10%;
  bottom: 20%;
  display: block;
  width: 40px;
  height: 40px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 2500ms ease-out infinite; }

.record-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 20%;
  display: block;
  width: 40px;
  height: 40px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms; }

.record-button:hover:after {
  background-color: #da0528; }

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }
a.tooltip {
  outline: none; }

a.tooltip strong {
  line-height: 30px; }

a.tooltip:hover {
  text-decoration: none; }

a.tooltip span {
  z-index: 10;
  display: none;
  padding: 14px 20px;
  margin-top: 60px;
  margin-left: -160px;
  width: 300px;
  line-height: 16px; }

a.tooltip:hover span {
  display: inline;
  position: absolute;
  border: 2px solid #FFF;
  color: #EEE;
  background: #333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0; }

.callout {
  z-index: 20;
  position: absolute;
  border: 0;
  top: -14px;
  left: 120px; }

/*CSS3 extras*/
a.tooltip span {
  border-radius: 2px;
  box-shadow: 0px 0px 8px 4px #666;
  /*opacity: 0.8;*/ }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: .5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  color: #6180c9;
  display: block;
  transition: 0.5s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 8px 0 0 27px; }

.padding {
  padding: 8px 0 0 27px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }

/*# sourceMappingURL=styles.css.map */
