/*
Author: Nick Chemsak 2017
Description: This is a Web Audio API app built by Nick Chemsak in 2017.
Version: 2.0
License: MIT License
Tags: Web Audio

TABLE OF CONTENTS:
1. General Definitions
    1.1 Fonts
    1.2 Colors
    1.3 Dimensions
2. Page Specific Definitions
    2.1 Navbar
    2.2 Sequencer / Body
    2.3 Footer
    2.4 Headings
        - h1, h2, h3
3. Media Queries
*/

// #############################################################################
// #############################################################################
// 1                            GENERAL DEFINITIONS
// #############################################################################
// #############################################################################
// ***************************************************************************
// 1.1                              FONTS
// ***************************************************************************
$font-heading: Inconsolata;
$font-stack: 'Droid Sans',
Roboto,
'font-awesome',
sans-serif;
$font-content: 'PT Mono',
monospace;
$font-caption: 'Bubbler One',
monospace;
$h1: 36px;
$h2: 22px;
$h3: 21px;
$default-font: 18px;
// ***************************************************************************
// 1.2                              COLORS
// ***************************************************************************
$color-background: #f2f2f2;
$color-navbar: black;
$color-pad: #DADADA;
$color-orange: #ff6e42;
$color-turq-light: hsla(180, 65%, 81%, 1);
$color-turq: hsla(174, 72%, 56%, 1);
$color-turq-dark: hsla(181, 100%, 41%, 1);
$color-blue: #6180c9;
$color-yellow: #ffb612;
$color-hover: silver;
$color-text: #fffcfb;

// test palettes
// hsla(33,89%,17%,1)    hsla(33,87%,29%,1)    hsla(35,62%,46%,1)
// hsla(42,60%,68%,1)    hsla(44,74%,86%,1)    hsla(0,0%,96%,1)
// hsla(171,45%,85%,1)    hsla(171,44%,65%,1)    hsla(175,48%,40%,1)
// hsla(175,98%,20%,1)    hsla(168,100%,12%,1)
//
//hsla(171,41%,56%,1)    hsla(137,41%,74%,1)    hsla(76,91%,87%,1)
// hsla(340,89%,76%,1)    hsla(176,11%,30%,1)
// ***************************************************************************
// 1.3                              DIMENSIONS
// ***************************************************************************
//Definitions for responsive Bootstrap go here
// @mixin xs-only {
//     @media (max-width: 767px) {
//         @content;
//     }
// }
@mixin sm {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 992px) {
        @content;
    }
}

// @mixin lg {
//     @media (min-width: 1200px) {
//         @content;
//     }
// }
// @mixin xlg {
//     @media (min-width: 1700px) {
//         @content;
//     }
// }
// #############################################################################
// #############################################################################
// 2                          PAGE SPECIFIC DEFINITIONS
// #############################################################################
// #############################################################################
// ***************************************************************************
// 2.1                              NAVBAR
// ***************************************************************************
#bs-example-navbar-collapse-1>ul.nav.navbar-nav.navbar-right>li.dropdown.open>ul {
    width: 300px;
}

#bs-example-navbar-collapse-1>ul.nav.navbar-nav.navbar-right>li.dropdown.open>ul>li {
    padding: 3px 20px;
    color: red;
}

a.dropdown-toggle {
    text-decoration: none;
    cursor: pointer;
}

.navbar {
    background-color: $color-navbar;
    border: none;
    border-radius: 0;
}

#bs-example-navbar-collapse-1>ul>li>a:hover {
    background-color: $color-hover;
    color: black;
}

#bs-example-navbar-collapse-1>ul>li>a:visited {
    background-color: $color-hover;
}

// ***************************************************************************
// 2.2                            SEQUENCER / BODY
// ***************************************************************************
*,
*:before,
*:after {
    // font-family: $font-stack;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// body {
//     background-color: $color-background;
// }
.row {
    display: block;
}

#sequencer {
    margin-left: 10px; // display: inline-flex;
    // align-items: center;
}

.fx {
    width: 20px;
}

// .pad {
//     min-width: 25px;
//     min-height: 25px;
//     max-width: 25px;
//     max-height: 25px;
//     // margin-bottom: 20px;
//     display: inline-block;
//     background: $color-pad;
//     margin-left: 4px;
//     cursor: pointer;
//     border-radius: 3px;
//     &:hover {
//         background: $color-hover;
//         color: #fffcfb;
//         transition: all .05s linear;
//         // box-shadow: -2em 2em 0 #e1e1e1;
//         &:before,
//         &:after {
//             transition: all .25s linear;
//         }
//     }
// }
//
svg {
    margin-right: 10px;
}

input.form-control {
    background-color: transparent;
    display: inline-block;
    width: 100px;
}

.addChannel {
    cursor: pointer;
}

.checkbox input[type=checkbox] {
    cursor: pointer;
}

.body-container {
    // background: $color-background;
    // z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed !important;
    background-image: linear-gradient(top, #b7b29c 0%, #cc89b4 17%, #cc89b4 33%, #40757d 50%, #40757d 66%, #0f5183 83%, #0f5183 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b7b29c), color-stop(0.165, #cc89b4), color-stop(0.33, #cc89b4), color-stop(0.495, #40757d), color-stop(0.66, #40757d), color-stop(0.83, #0f5183), color-stop(1, #0f5183));
    background-image: -moz-linear-gradient(top, #b7b29c 0%, #cc89b4 17%, #cc89b4 33%, #40757d 50%, #40757d 66%, #0f5183 83%, #0f5183 100%);
    background-image: -o-linear-gradient(top, #b7b29c 0%, #cc89b4 17%, #cc89b4 33%, #40757d 50%, #40757d 66%, #0f5183 83%, #0f5183 100%);
    background-image: -ms-linear-gradient(top, #b7b29c 0%, #cc89b4 17%, #cc89b4 33%, #40757d 50%, #40757d 66%, #0f5183 83%, #0f5183 100%);
}

.body-subhead {
    // color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.7;
    padding: 10px;
}

.list-item {
    @include sm {
        height: 2.5em;
        width: 2.5em;
    }
    @include md {
        height: 3.5em;
        width: 3.5em;
    }
    background: #000;
    color: #575757;
    height: 1em;
    width: 1em;
    border: 1px solid #060606;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all .25s linear;
    cursor: pointer;
    &:hover {
        background: $color-turq;
        color: #fffcfb;
        transform: scale(1.5);
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);
        z-index: 100;
    }
    &.dark {
        background-color: rgba(248, 248, 248, 0.6);
        border: 0px;
    }

    &.selected {
        background-color: $color-turq;

        border: 0px;
        box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.35);
    }
}


// ***************************************************************************
//                             LIST STYLES
// ***************************************************************************
li.dropdown {
    list-style: none;
    display: inline;
}

li {
    list-style: none;
}

ul.dropdown-menu {
    box-shadow: none;
    border: 3px solid black;
    min-width: 200px;
    z-index: 1;
}

.dropdown-menu>li>a:hover {
    background-color: $color-hover;
}

.dropdown-menu .divider {
    background-color: black;
}

.dropdown-menu>li>a {
    cursor: pointer;
}

// ***************************************************************************
// 2.3                            FOOTER
// ***************************************************************************
// ***************************************************************************
// 2.4                            HEADINGS
// ***************************************************************************
h1 {
    font-family: $font-heading;
    font-size: $h1;
}

h2 {
    font-family: $font-content;
    font-size: $h2;
}

h3 {
    font-family: $font-caption;
    font-size: $h3;
}

// ************************************************************************
// EFFECTS MODAL
// ************************************************************************
.modal-backdrop {
    z-index: -1;
}

// set to inherit, because "hidden" shifts body content
.modal-open {
    overflow: inherit;
}



// ************************************************************************
// PROJECT SETTINGS - scroll up bottom menu
// ************************************************************************
//
body > div.content-wrapper > div > div.row {
  margin-right: 0
}

.content-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 50%; // z-index: 0;
    background-color: $color-hover;
    border-top: 5px solid black;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    // margin: 2em 0 1em;
}

.content {
    height: 500px;
}

a:hover {
    text-decoration: none;
}

// #############################################################################
// #############################################################################
// 3                            MEDIA QUERIES
// #############################################################################
// #############################################################################
// ************************************************************************
// PLAY BUTTON
// ************************************************************************
// .record-button {
//   position: absolute;
//   z-index: 10;
//   top: 50%;
//   left: 50%;
//   transform: translateX(-50%) translateY(-50%);
//   box-sizing: content-box;
//   display: block;
//   width: 32px;
//   height: 44px;
//   /* background: #fa183d; */
//   border-radius: 50%;
//   padding: 18px 20px 18px 28px;
// }
.record-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 10%;
    bottom: 20%; // transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    background: #ba1f24;
    border-radius: 50%;
    animation: pulse-border 2500ms ease-out infinite;
}

.record-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 10%;
    bottom: 20%; // transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    background: #fa183d;
    border-radius: 50%;
    transition: all 200ms;
}

.record-button:hover:after {
    background-color: darken(#fa183d, 10%);
}

@keyframes pulse-border {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

a.tooltip {
    outline: none;
}

a.tooltip strong {
    line-height: 30px;
}

a.tooltip:hover {
    text-decoration: none;
}

a.tooltip span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: 60px;
    margin-left: -160px;
    width: 300px;
    line-height: 16px;
}

a.tooltip:hover span {
    display: inline;
    position: absolute;
    border: 2px solid #FFF;
    color: #EEE;
    background: #333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
}

.callout {
    z-index: 20;
    position: absolute;
    border: 0;
    top: -14px;
    left: 120px;
}












/*CSS3 extras*/

a.tooltip span {
    border-radius: 2px;
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}


// side navbar

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    // padding-top: 60px;
    /* Place content 60px from the top */
    transition: .5s;
    /* 0.5 second transition effect to slide in the sidenav */
}












/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    color: $color-blue;
    display: block;
    transition: .5s
}












/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}












/* Position and style the close button (top right corner) */

// .sidenav .closebtn {
//   position: absolute;
//   top: 0;
//   right: 20px;
//   margin-left: 50px;
// }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left 0.5s;
    padding: 8px 0 0 27px;
}

.padding {
    padding: 8px 0 0 27px;
}












/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

// sidebar
